
<h1>商品一覧</h1>
<% if current_user.admin_flg == true %>
  <%= link_to "新規登録", new_product_path %>
<% end %>

<h2>検索欄</h2>
<%= search_form_for @q do |f| %>
  <p>商品名 : <%= f.text_field :name_cont %></p>
  <p>価格 : <%= f.number_field :price_eq %></p>
  <%= f.submit %>
<% end %>

<%= sort_link(@q, :name, '商品名') %>
<%= sort_link(@q, :price, '価格') %>
 <hr>

<% @products.each do |product| %>
  <div>
    <% if product.photo.attached? %>
      <%= image_tag product.thumbnail %>
    <% end %>
    <p>商品名: <%= product.name %></p>
    <p>説明: <%= product.description %></p>
    <p>価格: <%= product.price %> 円</p>
    <%= link_to "詳細", product_path(product.id) %>
  </div>

  <hr>

<% end %>